---
layout: default
---
{% include menu.html %}
<script src="https://kit.fontawesome.com/49f774191d.js" crossorigin="anonymous"></script>


<div class="home">
    {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %}


    {{ content }}

	<hr/>
	<p>
	<a href="https://twitter.com/ties_ven" target="_blank" class="fa fa-twitter fa-2" title="Twitter" alt="Twitter"></a>
	<a href="https://linkedin.com/in/ties-van-de-ven-a24480a" target="_blank" class="fa fa-linkedin-square" title="LinkedIn" alt="LinkedIn"></a>
	<a href="https://blog.jdriven.com/author/ties-van-de-ven/" target="_blank" class="fa fa-blog" title="My blogs" alt="My blogs"></a>
	</p>
</div>

