---
layout: default
---
{% include menu.html %}
<script src="https://kit.fontawesome.com/49f774191d.js" crossorigin="anonymous"></script>


<div class="home">
 


    {{ content }}

	<hr/>
	<p>
	<a href="https://twitter.com/ties_ven" target="_blank" class="fa fa-twitter fa-2" style="font-size: 30px;margin-right: 5px;" title="Twitter" alt="Twitter"></a>
	<a href="https://www.linkedin.com/in/tiesvandeven/" target="_blank" class="fa fa-linkedin-square" style="font-size: 30px;margin-right: 5px;" title="LinkedIn" alt="LinkedIn"></a>
	<a href="https://blog.jdriven.com/author/ties-van-de-ven/" target="_blank" class="fa fa-blog" style="font-size: 30px;margin-right: 5px;" title="My blogs" alt="My blogs"></a>
	</p>
</div>

